.content_container {
    max-width: 80rem;                           //grandezza massima del contenitore
    margin: 0 auto;                             //allineamento margine a sinistra
    padding: 0 $medium-size;                    //spazio da lasciare dai margini sopra e sotto
}