.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    padding: $small-size;
    font-size: $font-size-large;
    font-weight: 300;
    outline-color: $orange;
}

.select {
    @extend .text-input; 
}

.textarea {
    @extend .text-input;
    height: 10rem;
}

.input-description {
    color: $gray;
    font-style: italic;
    border: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 25px;
}